*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../images/game.png");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  font-family: Montserrat;
}

/* Phone and Tablet Styles */
@media only screen and (max-width: 767px) {

    footer > a {
      font-size: 1.4rem;
      padding: 1rem;
    }
}

header, footer {
  background-color: #205dac;
  border-bottom: solid 2px #000;
}

header {
  margin-bottom: 2rem;
}

header > a {
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 14rem;
}

header > img {
  height: 6rem;
  vertical-align: middle;
}

footer {
  padding: 2rem;
  margin-top: 2rem;
  border-bottom: none;
  border-top: solid 2px #000;
}

footer > a {
  color: white;
  font-size: 2rem;
  padding-left: 12rem;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  position: relative;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  background: rgba(32, 93, 172, 0.6) url('../img/topPart.png') no-repeat center center / contain;
  border: solid 2px #000;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #6589F9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: solid 2px #000;
}

.selected {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.match .front {
  display: none;
}
